data/
volumes/

.env
.env.*.local

*.log
logs/

vendor/
composer.lock

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

.cache/
.parcel-cache/

tmp/
temp/
*.tmp

dist/
build/